<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OntoJSON</string>
    <key>CFBundleDisplayName</key>
    <string>OntoJSON</string>
    <key>CFBundleIdentifier</key>
    <string>com.owl2jsonschema.ontojson</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>OntoJSON</string>
    <key>CFBundleIconFile</key>
    <string>ORW_big.png</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2024 Airy Magnien. Licensed under EUPL v1.2</string>
</dict>
</plist>